Repository COS301-SE-2022/Image-Converter, pull requests merged in 2022-06, with the labels that each got.

#35 Login register backend
  .gitignore
  Front-End/Image-Converter/package-lock.json
  Front-End/Image-Converter/package.json
  Front-End/Image-Converter/src/app/app.module.ts
  Front-End/Image-Converter/src/app/classes/Register.ts
  Front-End/Image-Converter/src/app/login/login.component.html
  Front-End/Image-Converter/src/app/register/register.component.html
  Front-End/Image-Converter/src/app/register/register.component.scss
  Front-End/Image-Converter/src/app/register/register.component.ts
  Front-End/Image-Converter/src/app/services/custom-validation.service.spec.ts
  Front-End/Image-Converter/src/app/services/custom-validation.service.ts
  Front-End/Image-Converter/tsconfig.json
  Server/app.py
  Server/database/__pycache__/database.cpython-310.pyc
Labels: API, Database, High, Frontend, Backend

#41 Feature/upload feedback
  Front-End/Image-Converter/src/app/classes/Message.ts
  Front-End/Image-Converter/src/app/contact/contact.component.html
  Front-End/Image-Converter/src/app/contact/contact.component.ts
  Front-End/Image-Converter/src/app/converter/converter.component.html
  Front-End/Image-Converter/src/app/converter/converter.component.ts
  Front-End/Image-Converter/src/app/login/login.component.ts
  Front-End/Image-Converter/src/app/shared/converter.service.ts
  Front-End/Image-Converter/src/app/upload-history/upload-history.component.ts
  Server/app.py
  Server/database/database.py
  Server/requirements.txt
Labels: API, Database, High, Frontend, Backend

#43 🐛 (UI): Fixed UI Nav Bar
  Front-End/Image-Converter/src/app/dashboard/dashboard.component.html
  Front-End/Image-Converter/src/app/dashboard/dashboard.component.scss
  Front-End/Image-Converter/src/app/dashboard/dashboard.component.ts
  Front-End/Image-Converter/src/app/side-bar/side-bar.component.html
Labels: High, Frontend

#45 Feature/database tests
  Server/test/__init__.py
  Server/test/test_delete_history.py
  Server/test/test_getImage.py
  Server/test/test_getUser.py
  Server/test/test_insertFeeaback.py
  Server/test/test_insertImage.py
  Server/test/test_login.py
  Server/test/test_register.py
Labels: Database, High, Frontend, Backend, test

#44 💄(UI): Removed Image Filter
  Front-End/Image-Converter/src/app/dashboard/dashboard.component.html
  Front-End/Image-Converter/src/app/dashboard/dashboard.component.ts
Labels: High, Frontend

#47 sent the graph type to the front-End
  Server/app.py
Labels: API, High

#48 🧪 (Back-end) Incorporating unit test description
  .github/workflows/angular.yml
  .github/workflows/pythonTests.yml
  .gitignore
  Front-End/Image-Converter/karma.conf.js
  Front-End/Image-Converter/package-lock.json
  Front-End/Image-Converter/package.json
  Server/__pycache__/templateMatching.cpython-310.pyc
  Server/app.py
  Server/converter/smoothing.py
  Server/converter/templateMatching.py
  Server/requirements.txt
  Server/test/__pycache__/test_routes.cpython-310-pytest-7.1.2.pyc
  Server/test/__pycache__/test_templatematching.cpython-310-pytest-7.1.2.pyc
  Server/test/test_routes.py
  Server/test/test_smoothing.py
  Server/test/test_templatematching.py
Labels: help wanted, High, Backend, test
